@page "/Usuarios/Editar/{Codigo}"


<AuthorizeView Roles= "Administrador">
      <Authorized Context="AuthenticationState">

          <h3>Editar Usuario</h3>
          <br />
          <EditForm Model="@user">
              <DataAnnotationsValidator />
              <div class="form-group row">
                    <label for="Codigo" class="col-sm-2 col-form-label">
                        Codigo
                    </label>
                    <div class="col-sm-10">                       
                        <label for="Codigo" class="form-control" >
                        @user.Codigo
                        </label>
                   
                    </div>
              </div>

              <div class="form-group row">
                    <label for="Nombre" class="col-sm-2 col-form-label">
                        Nombre
                    </label>
                    <div class="col-sm-10">
                        <InputText id="Nombre" class="form-control" @bind-Value="user.Nombre"/>
                        <ValidationMessage For="@(() => user.Nombre)"/>
                    </div>
              </div>

              <div class="form-group row">
                    <label for="Clave" class="col-sm-2 col-form-label">
                        Clave
                    </label>
                    <div class="col-sm-10">
                        <InputText id="Clave" type="password" class="form-control" @bind-Value="user.Clave"/>
                        <ValidationMessage For="@(() => user.Clave)"/>
                    </div>
              </div>

              <div class="form-group row">
                    <label for="Rol" class="col-sm-2 col-form-label">
                        Rol
                    </label>
                    <div class="col-sm-10">
                        <InputSelect class="form-control" @bind-Value="user.Rol">
                            @foreach (var rol in Enum.GetValues(typeof(Roles)))
                            {
                                <option value="@rol">@rol</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => user.Rol)"/>
                    </div>
              </div>

              <div class="form-group row">
                    <label for="EstaActivo" class="col-sm-2 col-form-label">
                        EstaActivo
                    </label>
                    <div class="col-sm-10">
                        <InputCheckbox  @bind-Value="user.EstaActivo"></InputCheckbox>
                    </div>
              </div>

              <div class="form-group row">
                  <p>
                      <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar"/>
                      <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar"/>
                      <input type="submit" class="btn btn-warning" value="Eliminar" @onclick="Eliminar"/>
                  </p>


              </div>


          </EditForm>

          


      </Authorized>


</AuthorizeView>
